/* Body Part Css starts */



.text-banner-title {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 600;
}
.img-link-container-1 img,
.img-link-container-2 img,
.img-link-container-3 img,
.img-link-container-4 img,
.img-link-container-5 img,
.img-link-container-6 img,
.img-link-container-7 img,
.img-link-container-8 img,
.img-link-container-9 img,
.img-link-container-10 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-link-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.img-link-container-3,
.img-link-container-5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.img-link-container-1,
.img-link-container-4,
.img-link-container-6,
.img-link-container-7,
.img-link-container-8,
.img-link-container-9,
.img-link-container-10 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}
/* Body part Css Ends */

/* Footer part Css Starts*/
.img-container {
  width: 1080px;
  margin: 40px auto;
}
.footer-image-1,
.footer-image-2,
.footer-image-3,
.footer-image-4 {
  width: 100%;
  margin: 0px auto;
  object-fit: cover;
}

/* Side Image */
.side-image-1 {
  position: fixed;
  right: 0;
  top: 450px;
  cursor: pointer;
}

/* Footer Css Ends */

/* Image Slider CSS */
.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: 70px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  padding: 3.9px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: gray;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}


/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 475px;
}

.navigation-auto div {
  border: 2px solid rgba(211, 211, 211, 0.651);
  padding: 1.9px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: gray;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: gray;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: gray;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: gray;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: gray;
}


/* RESPONSIVE NAVBAR  CSS*/

nav{
  display: none;
}

/*Styling logo*/
.logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 12rem;
}

/*Styling Links*/
.nav-links{
  background-color: rgb(245, 239, 237);
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li,.nav-links button{
  /* border: 2px solid red; */
  width: 100%;
  margin-left: 20px;
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
  color:  black;
  font-weight: 600;
  

}
.nav-links li:hover {
  /* color: rgb(190, 83, 119);
   */
   transition: all 5s ease-in-out;
   background-color: white;
  padding: 10px;
  cursor: pointer;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  /* background-color:  rgb(190, 83, 119); */
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
  width: 80%;
}

/*Styling Buttons*/
.login-button{
  color: white;
  background-color: palevioletred;

  border: 1.5px solid #f2f5f7;
  /* border-radius: 2em; */
  padding: 0.6rem 0.8rem;
  /* margin-left: 2vw; */
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
.login-button:hover {
  color: white;
  background-color: rgb(229, 155, 180);
  transition: all ease-in-out 350ms;
}
.join-button{
  color: white;
  background-color: palevioletred;
    border: none;
  /* border-radius: 2em; */
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  /* margin-left: 15px; */
}
.join-button:hover {
  color: white;
  background-color: rgb(229, 155, 180);

  transition: all ease-in-out 350ms;
  border: none;
}

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){

  #home_navbar{
    display: none;
  }
  nav{
    height: 6rem;
    width: 100vw;
    top: 0;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 100;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
 
  .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}







/* RESPONSIVENESS */

@media only screen and (min-width: 551px) and (max-width: 850px) {

  
   /* SLIDER COROUSEL SECTION */
   

.slide img {
  
  /* border: 2px solid red; */
  height: 300px;
  object-fit:fill;
  margin-top: 80px;

}
/* SECTIONS */

  .img-link-container-1,.img-link-container-2,.img-link-container-3,.img-link-container-4,.img-link-container-5,.img-link-container-6,.img-link-container-7,.img-link-container-8,.img-link-container-9,.img-link-container-10{

    display: grid;
    grid-template-columns: repeat(3,1fr);

  }


}




 /* MEDIA QUERIES FOR MOBILE VIEW */
 @media all and (max-width : 550px){

  .slider{
    display: none;
  }
 


/* ALL SECTIONS */

.text-banner-title{
    margin-top: 90px;
    text-align: center;
}


  .img-link-container-1,.img-link-container-2,.img-link-container-3,.img-link-container-4,.img-link-container-5,.img-link-container-6,.img-link-container-7,.img-link-container-8,.img-link-container-9,.img-link-container-10{

    display: grid;
    grid-template-columns: repeat(2,1fr);

  }


   
 }