body {
    margin: 0;
    padding: 0;
  }
  
  #ProductsParent {
    width: 95%;
    height: 100vh;
    margin: auto;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 13vh;
  }
  
  #ProductsParent div:nth-child(1) {
    color: #282c3f;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 20px;
  }
  
  #ProductsParent div:nth-child(1) > span {
    font-weight: 500;
  }
  
  #ProductsParent div:nth-child(2) {
    color: #282c3f;
    font-size: 14px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  #ProductsParent div:nth-child(2) > span {
    font-weight: 100;
  }
  
  /* Select tag */
  
  #filterSelectBoxes {
    display: flex;
  }
  
  .filterSelectBoxes {
    margin: -10px;
    padding: 0;
  }
  
  #ProductsParent .fl {
    width: 20%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      
  }
  
  #ProductsParent .bundel {
    color: #696969;
    width: 13%;
    font-size: 14px;
    
  }
  
  #ProductsParent .bundel > select,
  #ProductsParent .country > select,
  #ProductsParent .size > select {
    border: none;
    padding: 10px;
    background: transparent;
    color: gray;
    font-weight: 400;
border-radius: 50px;
  }

  #ProductsParent .bundel :hover,
  #ProductsParent .country  :hover,
  #ProductsParent .size  :hover {
  background-color: rgb(252, 245, 245);
  cursor: pointer;
  }
  
  #ProductsParent .country {
    color: #282c3f;
    width: 15%;
    font-size: 14px;
  }
  
  #ProductsParent .size {
    color: #282c3f;
    width: 20%;
    font-size: 14px;
  }
  
  #ProductsParent .ProductSelectBy {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  
  .ProductSelectBy select {
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #282c3f;
    width: 200px;
    border-radius: 50px;
    /* border: 1px solid lightgray; */
    background: transparent;
    border: none;
  background-color: rgb(249, 245, 245);
cursor: pointer;
  }
  
  /* filter */
  
  #ProductBlock {
    width: 100%;
    display: flex;
    margin-top: 10px;
  }
  
  #ProductFilter {
    width: 20%;
    min-width: 200px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
  
  #brandFilter li {
    list-style: none;
    margin: 8px;
  }
  
  #brandFilter li > span {
    padding-left: 10px;
    margin-top: -20px;
    font-size: 14px;
    color: #282c3f;
    font-family: sans-serif;
    min-height: 17px;
  }
  /* ul */
  #brandFilter #filterButtonBrand {
    padding-top: 10px;
  }
  
  #productGrid {
    width: 80%;
    border-top: 1px solid lightgray;
  }
  
  #brandFilter #filterButtonDiscount {
    margin-top: 10px;
  }
  
  #filterButtonDiscount li {
    letter-spacing: 1px;
  }
  
  /* product grid */
  
  #productGridItems {
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
    grid-gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    height: 550px;
    overflow: scroll;
    
  }
  #productGridItems::-webkit-scrollbar{
    display: none;
}
  #productGridItems #outerDIv {
    width: 100%;
  }
  
  #productGridItems img {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
  #products a {
    text-decoration: none;
  }
  
  #products a > div {
    margin: 5px;
    padding: 5px;
    color: black;
    line-height: 20px;
  }
  
  #products .brandname {
    font-size: 16px;
    font-weight: 500;
    line-height: 3;
    color: #282c3f;
    margin-bottom: -5px;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  #products .title {
    color: #535766;
    font-size: 14px;
    line-height: 3;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
  }
  
  #products .price {
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
  }
  
  #products .line-through {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
  }
  #products .discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
  }
  


  .img_div {
    position: relative;
    justify-content: center;
  }
  


  
  #wishListDiv {
    visibility: hidden;
    width: 100%;
    height: 60px;
    background-color: white;
    margin-bottom: -5px;
    border: none;
    position: absolute;
    bottom: -15px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    z-index: 5;
    background-color: rgb(251, 243, 243);
    border: 1px solid lightgray;
  }
  

  #wishListBtn {
    text-align: center;
    margin-top: 11px !important;
    margin: auto;
    border-radius: 5px;
    color: #282c3f;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
     /* border: 1px solid rgb(209, 194, 194); */
     border: none;
     padding: 8px;
     cursor: pointer;
  }
  
  #wishListBtn span {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 15px;
    padding: 0 5px;
  }

  #wishListDiv :hover{
    background-color: #e7d2c8;
  }

  #wishListBtn i{
    color:  rgb(219, 72, 72);
  }
  
  .wishbtn > :nth-child(2) {
    font-size: 17px;

  }
  
  hr{
    width: 100%;
    color: teal;
    margin-top: 20px;
  }